@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

:root {
  --deg: 0%;
  --range: 0%;
  --bg: #10252f;
}


.customRange {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  flex-direction: column;
  position: relative;
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  position: relative;

  &:focus {
    outline: none;

    &::-webkit-slider-thumb {
      // transform: scale(3);
      // transition: 0.5s all ease;
    }
  }
  &:before {
    position: absolute;
    content: "";
    width: var(--range);
    height: 2px;
    background: #B12763;
  }
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #EFD4E0;
    height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    border: none;
    -webkit-appearance: none;
    background-color: #B12763;
    margin-top: -7px;
    z-index: 99;
    position: relative;
    cursor: pointer;
    transition: 0.5s all ease;
}

#value {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    left: var(--deg);
    top: -120%;
    color: #fff;
  // transition: 0.5s all ease; //goofy
    transition: 0.5s color ease;
}
