.offerCustomBox {
    // background-color: $accent;
    padding: 1px 1px;
    clip-path: polygon(4% 0, 96% 0, 100% 6%, 100% 94%, 96% 100%, 4% 100%, 0 94%, 0 6%);
    .offerCustomBox-1 {
        background-color: #fff;
        clip-path: polygon(4% 0, 96% 0, 100% 6%, 100% 94%, 96% 100%, 4% 100%, 0 94%, 0 6%);
    }
}

.offerCustomBox-black {
    background-color: #252629;
}

.offerCustomBox-red {
    background-color: $accent;
}