.solutionItemBox {
    background-color: #7B767A;
    padding: 1px 1px;
    clip-path: polygon(5% 0, 95% 0, 100% 6%, 100% 94%, 95% 100%, 5% 100%, 0 94%, 0 6%);
    .solutionItemBox-1 {
        background-color: #252629;
        padding: 0.7em 0.7em;
        clip-path: polygon(5% 0, 95% 0, 100% 6%, 100% 94%, 95% 100%, 5% 100%, 0 94%, 0 6%);
        .solutionItemBox-2 {
            background-color: #37383D;
            padding: 3.2em 2.4em;
            clip-path: polygon(5% 0, 95% 0, 100% 6%, 100% 94%, 95% 100%, 5% 100%, 0 94%, 0 6%);
        }
    }
    &:last-child {
        clip-path: polygon(2% 0, 98% 0, 100% 6%, 100% 94%, 98% 100%, 2% 100%, 0 94%, 0 6%);
        .solutionItemBox-1 {
            clip-path: polygon(2% 0, 98% 0, 100% 6%, 100% 94%, 98% 100%, 2% 100%, 0 94%, 0 6%);
            .solutionItemBox-2 {
                clip-path: polygon(2% 0, 98% 0, 100% 6%, 100% 94%, 98% 100%, 2% 100%, 0 94%, 0 6%);
            }
        }
    }
    @media (max-width: 540px) {
        .solutionItemBox-1 {
            padding: 4px;
            .solutionItemBox-2 {
                padding: 0px 0px;
            }
        }
    }
}