:root {
    --hmenu: 10px;
}

.apartment {
    position: relative;
    min-height: 100vh;
    display: flex;
    // flex-direction: column;
    @media (max-width: 1024px) {
        background: #252629;
        min-height: auto;
        flex-direction: column;
    }
    @media (max-width: 540px) {
        padding-bottom: 62px;
    }
}
.apartment__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    @media (max-width: 1024px) {
        padding-top: 60px;
        position: relative;
        z-index: 1;
    }
    @media (max-width: 540px) {
        padding-top: 0px;
    }
}
.swiper__apartment {
    height: 100%;
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
        content: '';
        // background: rgb(37,38,41);
        // background: linear-gradient(90deg, rgba(37,38,41,1) 30%, rgba(37,38,41,0.8) 35%, rgba(255,255,255,0) 100%);
        background: rgb(37,38,41);
        background: linear-gradient(90deg, rgba(37,38,41,1) 30%, rgba(37,38,41,0.9) 34%, rgba(37,38,41,0.8) 37%, rgba(37,38,41,0.6) 41%, rgba(37,38,41,0.2) 45%, rgba(37,38,41,0) 50%);
        z-index: 2;
        @media(max-width: 1024px) {
            display: none;
        }
    }
    @media(max-width: 1024px) {
        &::after {
            position: absolute;
            top: -3px;
            left: 0;
            bottom: 0;
            right: 0;
            display: block;
            content: '';
            background: rgb(37,38,41);
            background: linear-gradient(180deg, rgba(37,38,41,1) 1%, rgba(37,38,41,0) 10%);
            z-index: 1;

        }
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            bottom: -3px;
            right: 0;
            display: block;
            content: '';
            background: rgb(37,38,41);
            background: linear-gradient(0deg, rgba(37,38,41,1) 1%, rgba(37,38,41,0) 10%);
            z-index: 2;
        }
    }
}
.apartment__swiper-navigation {
    position: absolute;
    bottom: 3vh;
    right: 5em;
    z-index: 1;
    color: #fff;
    display: flex;
    align-items: center;
    @media(max-height: 900px) {
        bottom: 1vh;
    }
    @media(max-width: 1024px) {
        bottom: auto;
        // top: 53em;
        top: 480px;
        z-index: 10;
        width: 100%;
        right: 0em;
        padding: 0 2.5em;
        img {
            width: 40px;
            height: 40px;
            margin-left: 20px;
        }
    }
    @media(max-width: 720px) {
        top: 51em;
    }
    @media(max-width: 540px) {
        top: 44em;
        padding: 0 16px;
        img {
            width: 24px;
            height: 24px;
            margin-left: 16px;
        }
    }
}
.apartment__control {
    display: flex;
    order: 2;
}
.apartment__button-next {
    cursor: pointer;
}
.apartment__button-prev {
    cursor: pointer;
}
.apartment__pagination {
    font-family: Buyan, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    margin-right: 40px;
    @media (max-width: 1024px) {
        font-size: 22px;
        line-height: 22px;
    }
    @media (max-width: 540px) {
        font-size: 20px;
        line-height: 20px;
    }
}
.apartment__slide {
    background-color: #37383D;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media(max-width: 1024px) {
        img {
            max-height: 480px;
        }
    }
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.apartment__info {
    @media(max-width: 1024px) {
        display: flex;
        padding: 48px 0 96px 0;
    }
    @media(max-width: 540px) {
        flex-direction: column;
        padding: 32px 0 64px 0;
    }
}
.apartment__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    padding-top: 6em;
    color: #FFFFFF;
    background: rgb(37,38,41);
    background: linear-gradient(180deg, rgba(37,38,41,1) 3%, rgba(37,38,41,0) 100%);
    .container {
        display: flex;
        justify-content: space-between;
    }

}

.apartment__container {
    padding-top: calc( var(--hmenu) );
    position: relative;
    @media (max-width: 540px) {
        padding: 16px;
    }
}

.apartment__services-link {
    display: none;
    @media(max-width: 1024px) {
        display: block;
        position: relative;
        img {
            max-height: 200px;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        .apartment__roomLogo {
            position: absolute;
            width: 80px;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.apartment__content {
    width: 33%;
    height: 100%;
    padding-top: 6vh;
    padding-bottom: 3vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media(max-height: 1000px) {
        padding-top: 4vh;
    }
    @media(max-height: 900px) {
        padding-top: 0vh;
        padding-bottom: 1vh;
    }
    @media(max-width: 1024px) {
        width: 100%;
        padding-top: 0vh;
        padding-bottom: 0vh;
    }
}

.apartment__back {
    display: flex;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8em;
    line-height: 1.1em;
    color: #7B767A;
    text-decoration: none;
    margin-bottom: 3.5vh;
    &:hover {
        color:#7B767A;
    }
}
.apartment__back-desc {
    @media (max-width: 1024px) {
        display: none;
    }
}
.apartment__back-tab {
    display: none;
    @media (max-width: 1024px) {
        position: absolute;
        top: 87px;
        font-size: 16px;
        line-height: 18px;
        z-index: 10;
        color: #fff;
        display: flex;
        align-items: center;
        left: 1.3em;
        &:hover {
            color:#fff;
        }
    }
    @media (max-width: 540px) {
        font-size: 14px;
        line-height: 16px;
        top: 16px;
        left: 16px;
    }
}
.apartment__settings {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 85%;
    margin-bottom: 3.2vh;
    @media(max-width: 1024px) {
        max-width: 30%;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    @media(max-width: 540px) {
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 24px;
    }
}
.apartment__text {
    @media(max-width: 1024px) {
        width: 100%;
        max-width: 70%;
    }
    @media(max-width: 540px) {
        max-width: 100%;
    }
}
.apartment__room-logo {
    @media (max-width: 1024px) {
        margin-bottom: 48px;
    }
    @media (max-width: 540px) {
        margin-bottom: 0px;
        img {
            width: 77px;
            height: auto;
        }
    }
}
.apartment__param {
    display: flex;
    justify-content: space-between;
    @media(max-width: 1024px) {
        flex-direction: column;
    }
    @media (max-width: 540px) {
        flex-direction: row;
    }
}
.apartment__label {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8em;
    line-height: 1.1em;
    color: #BEBDBF;
    &:first-child {
        border-right: 1px solid #BEBDBF;
        padding-right: 10px;
        margin-right: 10px;
    }
    @media (max-width: 1024px) {
        font-size: 16px;
        line-height: 18px;
        &:first-child {
            border-right: none;
            padding-right: 0;
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
    @media (max-width: 540px) {
        &:first-child {
            margin-bottom: 0px;
            border-right: 1px solid #BEBDBF;
            padding-right: 10px;
            margin-right: 10px;
        }
    }
}
.apartment__label-bold {
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1em;
    @media (max-width: 1024px) {
        font-size: 22px;
        line-height: 22px;
    }
}
.apartment__subtitle {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4em;
    line-height: 1.4em;
    color: #FFFFFF;
    margin-bottom: 2.5vh;
    @media(max-width: 1024px) {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 48px;
    }
    @media(max-width: 540px) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 32px;
    }
}
.apartment__services {
    display: flex;
    flex-wrap: wrap;
}
.apartment__services-desc {
    @media(max-width: 1024px) {
        display: none;
    }
}
.apartment__services-tab {
    display: none;
    @media(max-width: 1024px) {
        display: block;
        margin-bottom: 48px;
    }
    @media(max-width: 1024px) {
        display: block;
        margin-bottom: 32px;
    }
}
.apartment__item {
    display: inline-block;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8em;
    line-height: 1.1em;
    color: #BEBDBF;
    padding: 0.8em 1.1em;
    background-color: #37383D;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    background: #37383D;
    background: linear-gradient(135deg, transparent 6px, #37383D 0) top left,
    linear-gradient(-135deg, transparent 6px, #37383D 0) top right,
    linear-gradient(-45deg, transparent 6px, #37383D 0) bottom right,
    linear-gradient(45deg, transparent 6px, #37383D 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    @media(max-width: 1024px) {
        font-size: 16px;
        line-height: 18px;
        padding: 11px 16px;
        margin-right: 8px;
        margin-bottom: 8px;
    }
    @media(max-width: 1024px) {
        font-size: 14px;
        line-height: 16px;
        padding: 10px 14px;
        margin-right: 4px;
        margin-bottom: 4px;
    }
}
.apartment__customBtn {
    margin-bottom: 2vh;
    .btn__small {
        font-family: 'Exo 2', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    }
    .btn__line {
        border-right: 1px solid #BEBDBF;
        padding-right: 10px;
        margin-right: 10px;
    }
    @media (max-width: 1024px) {
        margin-bottom: 0;
        font-size: 20px;
        line-height: 20px;
        .customBtnBlack-1 .customBtnBlack-2 {
            padding: 16px 16px;
        }
    }
    @media (max-width: 540px) {
        width: 100%;
    }
}