.contacts {
}
.contacts__menu {
    display: flex;
}
.contacts__list {
    margin-right: 3.2em;
    &:nth-child(2) {
        display: none;
    }
    &:last-child {
        margin: 0;
    }

}
.contacts__link {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6em;
    line-height: 1.2em;
    color: inherit;
    text-decoration: none;
    @media (max-width: 540px) {
        font-size: 16px;
        line-height: 20px;
    }
}