.customTimes {
    // width: 40%;
    // @media (max-width: 1440px) {
    //     width: 50%;
    // }
}
.customTimes__title {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8em;
    line-height: 1.1em;
    color: #BEBDBF;
    margin-bottom: 0.5em;
    // @media (max-width: 1440px) {
    //     font-size: 16px;
    //     line-height: 18px;
    // }
}
.customTimes__block {
    display: flex;
}
.customTimes__text {
    background-color: transparent;
    border: none;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8em;
    line-height: 1em;
    text-align: center;
    color: #FFFFFF;
    max-width: 50px;
    @media (max-width: 1140px) {
        max-width: 30px;
    }
    @media (max-width: 1024px) {
        max-width: 45px;
    }
}
.customTimes__minus, .customTimes__plus {
    cursor: pointer;
    height: 3.2em;
    width: 3.2em;
}
