.entry {
    min-height: 100vh;
    background-image: url(../images/dist/events/birthday.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    @media (max-width: 1024px) {
        min-height: auto;
        padding-top: 62px;
    }
    @media (max-width: 540px) {
        padding-top: 32px;
        // background-image: none;

    }
}
.entry__menu {
    padding-top: 6.1vh;
    color: #FFFFFF;
    width: 100%;
}
.entry__customBtn {
    position: relative;
    &-mobile {
        display: none;
    }
    @media (max-width: 1024px) {
        img {
            height: 64px;
        }
    }
    @media (max-width: 540px) {
        &-mobile {
            display: block;
        }
        &-desc {
            display: none;
        }
        img {
            height: 60px;
            width: 100%;
            object-fit: 100% 100%;
        }
    }
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: 'Выбрать комнату';
        white-space: nowrap;
        color: $accent;
        font-family: Buyan;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (max-width: 1024px) {
            font-size: 22px;
            line-height: 22px;
        }
    }
}
.entry__info {
    margin-top: 12vh;
    margin-bottom: 6vh;
    height: auto;
    display: flex;
    flex: 1 1 auto;
    @media (max-height: 900px) {
        margin-top: 6vh;
    }
    @media (max-width: 1024px) {
        margin-top: 80px;
        margin-bottom: 24px;
        flex-direction: column;
    }
    @media (max-width: 540px) {
        margin-top: 0;
        margin-bottom: 0;
    }
}
.entry__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    @media (max-width: 1024px) {
        width: 100%;
        align-items: center;
        margin-bottom: 40px;
    }
    @media (max-width: 540px) {
        margin-bottom: 24px;
    }
}
.entry__title {
    font-family: 'Buyan', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 9.6em;
    line-height: 1em;
    color: #FFFFFF;
    margin-bottom: 2.4vh;
    @media (max-width: 1024px) {
        font-size: 72px;
        line-height: 72px;
        text-align: center;
        margin-bottom: 16px;
    }
    @media (max-width: 540px) {
        font-size: 48px;
        line-height: 48px;
    }
}
.entry__subtitle {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4em;
    line-height: 1.2em;
    color: #FFFFFF;
    margin-bottom: 18vh;
    br {
        display: none;
    }
    @media (max-width: 1024px) {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 32px;
    }
    @media (max-width: 540px) {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 156px;
        br {
            display: block;
        }
    }
}
.entry__right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 1024px) {
        width: 100%;
    }
    @media (max-width: 540px) {
        padding: 24px 0 40px 0;
        background-color: #252629;
        position: relative;
        &::after {
            position: absolute;
            top: 0;
            content: '';
            left: -20px;
            height: 100%;
            width: 20px;
            z-index: 10;
            background-color: #252629;
        }
        &::before {
            position: absolute;
            top: 0;
            content: '';
            right: -20px;
            height: 100%;
            width: 20px;
            z-index: 10;
            background-color: #252629;
        }
    }
}
// .entryItemBox-1 {
//     height: 100%;
//     @media (max-width: 1024px) {
        
//     }
//     @media (max-width: 540px) {
        
//     }
// }
// .entryItemBox-2 {
//     height: 100%;
//     display: flex;
//     img {
//         max-height: 90%;
//         height: auto;
//         width: 45%;
//         object-fit: cover;
//         align-self: flex-end;
//     }
//     @media (max-width: 1024px) {
//         img {
//             max-height: 100%;
//         }
//     }
//     @media (max-width: 540px) {
//         img {
//             max-height: 90%;
//             height: auto;
//             width: 30%;
//             object-fit: cover;
//             align-self: flex-end;
//         }
//     }
// }
.entry__item {
    width: 49%;
    height: auto;
    background-image: url(../images/dist/icon/sss.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 32px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &:nth-child(1) {
        margin-bottom: 20px;
    }
    &:nth-child(2) {
        margin-bottom: 20px;
    }
    img {
        height: 17em;
        width: auto;
        object-fit: cover;
        // align-self: flex-end;
    }
    @media (max-width: 1024px) {
        padding: 28px;
        img {
            height: auto;
            width: 45%;
            object-fit: cover;
            // align-self: flex-end;
        }
    }
    @media (max-width: 540px) {
        width: 100%;
        height: 210px;
        img {
            height: auto;
            width: auto;
            object-fit: cover;
            // align-self: flex-end;
        }
        &:nth-child(1) {
            margin-bottom: 8px;
        }
        &:nth-child(2) {
            margin-bottom: 8px;
        }
        margin-bottom: 8px;
    }
}

.entry__label {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.4em;
    line-height: 1.2em;
    color: #FFFFFF;
    @media (max-width: 1024px) {
        
    }
    @media (max-width: 540px) {
        font-size: 18px;
        line-height: 24px;
    }
}
.entry__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @media (max-width: 1024px) {
        
    }
    @media (max-width: 540px) {
        
    }

}
.entry__text {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8em;
    line-height: 1.1em;
    color: #BEBDBF;
    padding-right: 30px;
    @media (max-width: 1024px) {
        
    }
    @media (max-width: 540px) {
        font-size: 14px;
        line-height: 18px;
    }
}