.header {
    display: none;
    padding: 16px 0;
    position: relative;
    @media (max-width: 1024px) {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 100;
        border-bottom: 1px solid rgba($color: #9C9C9C, $alpha: 0.2);
    }
    @media (max-width: 540px) {
        position: fixed;
        bottom: 0;
        left: 0;
        top: auto;
        border-top: 1px solid rgba($color: #9C9C9C, $alpha: 0.2);
        border-bottom: none
        // max-height: 62px;
        // position: sticky;
        // bottom: 0;
        // left: 0;
    }
}
.header__black {
    background-color: #252629;
    border-bottom: 1px solid rgba($color: #9C9C9C, $alpha: 0.2);
    @media(max-width: 540px) {
        border-top: 1px solid rgba($color: #9C9C9C, $alpha: 0.2);
        border-bottom: none;
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bg.active {
    visibility: visible;
}
.bg {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.2);
}
.header__menu.active {
    transform: translateY(0);
    opacity: 1;
}

.header__menu {
    @media (min-width: 1024px) {
        display: none;
    }
    transform: translateY(-100%);
    z-index: 50;
    opacity: 0;
    border-top: 1px solid rgba(156, 156, 156, 0.2);
    position: fixed;
    display: flex;
    background-color: #fff;
    padding: 48px 24px;
    width: 100%;
    top: 62px;
    transition: all .3s ease;
    @media(max-width: 540px) {
        transform: translateY(100%);
        border-top: none;
        border-bottom: 1px solid rgba(156, 156, 156, 0.2);
        padding: 32px 16px 0 16px;
        width: 100%;
        bottom: 62px;
        top: auto;
        flex-direction: column;
    }
    .header__navigation {
        width: 50%;
        border-right: 1px solid rgba(156, 156, 156, 0.2);
        @media (max-width: 768px) {
            width: 40%;
        }
        @media (max-width: 540px) {
            width: 100%;
            border-right: none
        }
    }
    .navigation__menu {
        display: flex;
        flex-direction: column;
    }
    .navigation__list {
        margin-bottom: 32px;
        &:last-child {
            margin-bottom: 0;
        }
        @media (max-width: 540px) {
            &:last-child {
                margin-bottom: 32px;
            }
        }
    }
    .navigation__link {
        font-family: 'Buyan', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        color: #252629;
        @media (max-width: 540px) {
            width: 100%;
            display: inline-block;
            text-align: left;
        }
    }
    .header__contacts {
        width: 50%;
        padding-left: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: 768px) {
            width: 60%;
        }
        @media (max-width: 540px) {
            width: 100%;
            padding: 32px 0;
            border-top: 1px solid rgba(156, 156, 156, 0.2);
        }
    }
    .contacts__menu {
        display: flex;
        flex-direction: column;
    }
    .contacts__list {
        &:first-child {
            margin-bottom: 16px;
        }
    }
    .contacts__link {
    }
    
    .header__customBtn {
        @media (max-width: 540px) {
            display: none;
        }
    }
}
.header__menu-black {
    background-color: #252629;
    .navigation__link {
        color: #fff;
    }
    .contacts__link {
        color: #fff;
    }
}

.header__phone {
}
.header__logo {
    img {
        height: 30px;
    }
}
.header__burger.active {
    background-image: url(../images/dist/icon/cross.svg);
}
.header__burger {
    transition: background-image .2s ease;
    padding: 6px 0;
    background-image: url(../images/dist/icon/burger.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.header__burger-white.active {
    background-image: url(../images/dist/icon/cross-white.svg);
}
.header__burger-white {
    transition: background-image .2s ease;
    padding: 6px 0;
    background-image: url(../images/dist/icon/burger-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}