.intro {
    background-image: url(../images/dist/bg/bg_white.svg);
    width: 100%;
    height: 100vh;
    min-height: 600px;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    @media (max-width: 1024px) {
        background-image: url(../images/dist/bg/bg_white-tablet.svg);
        background-size: cover;
        height: auto;
        min-height: auto;
    }
    .intro__bg-tablet {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: none;
        @media (max-width: 1024px) {
            display: block;
            margin-top: -150px;
        }
        @media (max-width: 768px) {
            margin-top: 0px;
        }
        @media (max-width: 540px) {
            display: none;
        }
    }
    .intro__bg-mobile {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: none;
        @media (max-width: 540px) {
            display: block;
        }
    }
    .intro__bg-1 {
        position: absolute;
        background-image: url(../images/dist/intro/bg-1.png);
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 0.52vw;
        @media (min-width: 1920px) {
            right: 8.5em;
            bottom: 6.5vh;
            width: 60em;
            height: 68.3vh;
            clip-path: polygon(56% 0, 100% 0, 100% 43%, 100% 100%, 86% 100%, 0 73%, 0 36%);
        }
        @media (max-width: 1920px) {
            right: 12em;
            bottom: 6.5vh;
            width: 36em;
            height: 65.2vh;
            clip-path: polygon(44% 8%, 100% 8%, 100% 100%, 0 72%, 0% 33%);
        }
        @media (max-width: 1024px) {
        display: none;
        }
    }
    .intro__bg-2 {
        position: absolute;
        background-image: url(../images/dist/intro/bg-2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-size: 0.52vw;
        @media (min-width: 1920px) {
            left: 0;
            bottom: 0;
            width: 68.8em;
            height: 54vh;
            clip-path: polygon(0 7%, 100% 30%, 100% 77%, 0% 100%);
        }
        @media (max-width: 1920px) {
            left: 0;
            bottom: 0;
            width: 42.65em;
            height: 54vh;
            clip-path: polygon(0 7%, 65% 21%, 100% 79%, 0% 100%);
        }
        @media (max-width: 1024px) {
        display: none;
        }
    }
    .intro__yet {
        cursor: pointer;
        position: absolute;
        background-color: #EAD295;
        clip-path: polygon(0 0, 100% 0, 72% 79%, 34% 93%);
        font-size: 0.52vw;
        &:hover {
            img {
                transform: rotate(180deg);
            }
        }
        .intro__yet-1 {
            background-color: #fff;
            width: 100%;
            height: 100%;
            clip-path: polygon(1% 1%, 99% 1%, 71.5% 79%, 34% 92%);
            .intro__yet-2 {
                background-color: #ebd39680;
                width: 100%;
                height: 100%;
                clip-path: polygon(10% 10%, 89% 10%, 67% 73%, 38% 82%);
                .intro__yet-3 {
                    background-color: #fff;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    clip-path: polygon(11% 11%, 88% 11%, 66.5% 73%, 38% 81%);
                    img {
                        transition: all 0.4s ease;
                        margin-top: -2vh;
                    }
                }
            }
        }
        @media (min-width: 1920px) {
            left: 23em;
            bottom: 54.7vh;
            width: 23em;
            height: 12vh;
        }
        @media (max-width: 1920px) {
            left: 16em;
            bottom: 54.7vh;
            width: 16em;
            height: 12vh;
        }
        @media (max-width: 1024px) {
            display: none;
        }
        
    }

}


.intro__content {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media(max-height: 720px) and (min-width: 1200px) {
        font-size: 0.52vw;
    }
    @media (max-width: 1024px) {
        margin-top: -9.5em;
        height: auto;
        min-height: 100%;
    }
    @media (max-width: 768px) {
        margin-top: -5.3em;
    }
    @media (max-width: 540px) {
        margin-top: 35px;
    }
}
.intro__menu {
    padding-top: 6.1vh;
    color: #252629;
}

.intro__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.intro__title {
    font-family: Buyan, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12.8em;
    line-height: 1em;
    text-align: center;
    color: #252629;
    margin-bottom: 0.25em;
    @media (max-width: 1024px) {
        font-size: 9.6em;
        line-height: 1.02em;
        margin-bottom: 0.25em;
    }
    @media (max-width: 540px) {
        font-size: 64px;
        line-height: 64px;
        margin-bottom: 8px;
    }
}
.intro__subtitle {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4em;
    line-height: 1.2em;
    text-align: center;
    color: #252629;
    margin-bottom: 2.6em;
    @media (max-width: 1024px) {
        font-size: 2em;
        line-height: 1.2em;
        margin-bottom: 2.4em;
    }
    @media (max-width: 540px) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 48px;
        span {
            display: none;
        }
    }
}
.intro__info-title {
    text-decoration: none;
    color: $accent;
    position: relative;
    margin-left: 1.4em;
    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 1em;
        height: 1em;
        top: 0.1em;
        left: -1em;
        background-image: url(../images/dist/icon/location.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.intro__customBtn {
    margin-bottom: 0.6em;
    @media (max-width: 540px) {
        margin-bottom: 12px;
    }
}

.intro__text {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8em;
    line-height: 1.1em;
    text-align: center;
    color: #B12763;
    @media (max-width: 1024px) {
        font-size: 1.6em;
        line-height: 1.1em;
    }
    @media (max-width: 540px) {
        font-size: 16px;
        line-height: 18px;
    }
}



.intro__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11.3em;
    @media (max-width: 540px) {
        margin-top: 70px;
    }
}
.intro__label {
    font-family: Buyan, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4em;
    line-height: 1em;
    text-align: center;
    color: #B12763;
    margin-bottom: 0.6em;
    @media (max-width: 1024px) {
        font-size: 2.2em;
        line-height: 1em;
    }
    @media (max-width: 540px) {
        font-size: 20px;
        line-height: 20px;
    }
}
.intro__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    background-color: #B12763;
    padding: 1px;
    font-size: 0.52vw;
    clip-path: polygon(50% 100%, 0 0, 100% 0);

	
    @media (min-width: 1920px) {
        width: 14em;
    }
    @media (max-width: 1920px) {
        width: 10em;
    }
    .intro__arrow-1 {
        background-color: #fff;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.52vw;
        @media (min-width: 1920px) {
            width: 13.5em;
            height: 4.9em;
        }
        @media (max-width: 1920px) {
            width: 9em;
            height: 4.6em;
        }
    }
    @media (max-width: 1024px) {
        height: 5px;
        width: 10px;
        margin-bottom: 5px;
        .intro__arrow-1 {
            display: none;
        }
    }
}


