.premises {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../images/dist/bg/bg_white.svg);
    background-size: cover;
    background-position: center;
    font-size: 0.95vh;
    @media (max-height: 900px) and (max-width: 1440px) {
        font-size: 1.2vh;
    }
    @media (max-width: 1024px) {
        min-height: auto;
        padding-top: 110px;
        font-size: 0.97vw;
    }
    @media (max-width: 540px) {
        padding: 48px 0;
    }
}
.premises__menu {
    width: 100%;
    padding-top: 6em;
    .container {
        display: flex;
        justify-content: space-between;
    }
}
.premises__info {
    margin-bottom: 6vh;
    .container {
        padding: 0 0 0 5em;
        @media (max-width: 1440px) {
            display: flex;
        }
    }
    @media (max-width: 1024px) {
        .container {
            padding: 0 2.5em;
            flex-direction: column;
        }
    }
    @media (max-width: 540px) {
        .container {
            padding: 0 20px;

        }
    }
}

.premises__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5em;
    margin-bottom: 4.5vh;
    @media (max-width: 1440px) {
        flex-direction: column;
        margin-bottom: 0;
        margin-right: 9em;
    }
    @media (max-width: 1024px) {
        margin-right: 0em;
        // flex-direction: row;
        align-items: flex-start;
    }
}
.premises__title {
    font-family: 'Buyan', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 9.6em;
    line-height: 1em;
    color: #252629;
    @media (max-width: 1024px) {
        margin-bottom: 32px;
    }
    @media (max-width: 540px) {
        font-size: 48px;
        line-height: 48px;
    }
}
.premises__group {
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    width: 100%;
    @media (max-width: 1440px) {
        flex-direction: column;
    }
    @media (max-width: 1024px) {
        flex-direction: row;
        margin-bottom: 32px;
    }
    @media (max-width: 1024px) {
        flex-direction: column;
    }
}
.premises__choise {
    font-family: 'Buyan', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4em;
    line-height: 1em;
    // text-align: right;
    color: #7B767A;
    @media (max-width: 1440px) {
        display: flex;
        flex-direction: column;
        &:first-child {
            margin-bottom: 4.8vh;
        }
        span {
            margin-bottom: 12px;
        }
    }
    @media (max-width: 1024px) {
        // font-size: 22px;
        // line-height: 22px;
        flex-direction: row;
        &:first-child {
            margin-bottom: 0;
        }
        span {
            margin-bottom: 0;
        }
    }
    @media (max-width: 1024px) {
        font-size: 20px;
        line-height: 20px;
        flex-direction: row;
        &:first-child {
            margin-bottom: 16px;
        }
        span {
            margin-bottom: 0px;
        }
    }
}


.premises__swiper {
    overflow: hidden;
    width: 100%;

}
.premises__swiper-wrapper {
    display: flex;
    @media (max-width: 1024px) {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.premises__slide {
    border: 1px solid #BEBDBF;
    background: white;
    .span-border {
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        background: white;
        &:nth-child(1) {
            border-top: 1px solid #BEBDBF;
            left: 0;
            bottom: 0;
            transform: translate(-50%, 50%) rotate(45deg);
          }
        &:nth-child(2) {
            border-top: 1px solid #BEBDBF;
            right: 0;
            bottom: 0;
            transform: translate(50%, 50%) rotate(-45deg);
        }
        &:nth-child(3) {
            border-bottom: 1px solid #BEBDBF;
            left: 0;
            top: 0;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:nth-child(4) {
            border-bottom: 1px solid #BEBDBF;
            right: 0;
            top: 0;
            transform: translate(50%, -50%) rotate(45deg);
        }
    }
    position: relative;
    width: 100%;
    height: auto;
    max-width: 470px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1440px) {
        max-width: 370px;
        // min-height: 65vh;
    }
    @media (max-width: 1024px) {
        max-width: 48%;
        // width:100%;
        margin-bottom: 24px;
    }
    @media (max-width: 540px) {
        max-width: 100%;
        // width:100%;
        margin-bottom: 16px;
    }
}

.premises__info {
    .tinder__slider {
    }
    .tinder__swiper {
    }
    .tinder-slide {
    }
    .tinder-slide-img {
        @media (max-width: 1440px) {
            // min-height: 290px;
        }
    }
    .swiper-lazy {
        @media (max-width: 1440px) {
            
        }
    }
    .swiper-pagination {
        @media (max-width: 1440px) {
            
        }
    }
    .tinder__info {
        @media (max-width: 1440px) {
            // padding: 24px 26px;
        }
    }
    .tinder__row {
        @media (max-width: 1440px) {
            // margin-bottom: 16px;
        }
        @media (max-width: 1024px) {
            margin-bottom: 0px;
        }
    }
    .tinder__row-title {
        @media (max-width: 1440px) {
            // font-size: 28px;
            // line-height: 28px;
        }
    }
    .tinder__row-block {
        @media (max-width: 1440px) {
            
        }
    }
    .tinder__row-how {
        @media (max-width: 1440px) {
            // font-size: 16px;
            // line-height: 18px;
        }
    }
    .tinder__row-black {
        @media (max-width: 1440px) {
            
        }
    }
    .tinder--stick {
        @media (max-width: 1440px) {
            
        }
    }
    .tinder__row--black {
        @media (max-width: 1440px) {
            // font-size: 22px;
            // line-height: 22px;
        }
    }
    .tinder__text {
        height: 100%;
        @media (max-width: 1440px) {
            // font-size: 14px;
            // line-height: 18px;
        }
        @media (max-width: 1024px) {
            display: none;
        }
    }
    .tinder__about {
        @media (max-width: 1440px) {
            // padding: 24px 26px;
        }
    }
    .tinder__about-price {
        @media (max-width: 1440px) {
            // font-size: 16px;
            // line-height: 18px;
        }
    }
    .tinder__about-black {
        @media (max-width: 1440px) {
            // font-size: 22px;
            // line-height: 22px;
        }
    }
    .tinder__about-link {
        @media (max-width: 1440px) {
            // font-size: 22px;
            // line-height: 22px;
        }
    }

}
